body {
    background-color: #FDF6E3;
}

.favorite-list li {
  font-size: 1.5rem;
}

.favorite-list img {
  height: 200px;
}

.favorite-list p {
  font-size: medium;
  width: 550px;
  text-align: justify;
}

.favorite-list ul li {
  font-size: medium;
  width: 510px;
  text-align: justify;
}
