.favorite .musik {
    border: 1px solid black;
}

.favorite li {
    font-size: 1.5rem;  
}

.favorite p {
    font-size: medium;
    width: 600px;
    text-align: justify;
}

.favorite img {
    height: 200px;
}



